{% extends "index.html" %}
{% block content %}
<div align="left">
{{ cd|safe }}
</div>

{% endblock %}


{% block about %}


    <div class="col-sm-3" align="left">

    {% if privatx %}
    
    <div class="page-header">
        <h4>&nbsp;Get your Version</h4>
    </div>

    <ul>
    
    
        <li><a href="https://bitbucket.org/lazy_dogtown/makepw.app" target="_blank">Download</a></li>
        <li><a href="/doc/#install">Installation Manual</a></li>
        <li><a href="/doc/#config">Configuration Manual</a></li>
        <li><a href="/doc/#api">API - Docs</a></li>
        <li><a href="/doc/#changelog">Changelog</a></li>
    
    </ul>

    {% else %}


    <div class="page-header">
        <h4>&nbsp;Links</h4>
    </div>
    <ul>
    {% for link in custom_links %}
        <li><a href="{{link[1]}}">{{link[0]}}</a></li>
    
    {% endfor %}
    </ul>

    

    {% endif %}

    </div>
    </div>


{% endblock %}

