<!DOCTYPE html>
<!-- 
    makepw.app - version : {{version}} 
    (c) copyright 2012-2015 makepw.com
    
    sourcecode & installation: 
        https://makepw.com/doc/
-->
<html lang="en">
  <head>

    <title>{{site_name}} - Online Password-Generator</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if privatx %}
    <meta name="description" content="MakePW.com - Online Password-Generator">
    <meta name="author" content="castor@makepw.com">
    <meta name="keywords" content="MakePW.com, Online, Passwort, Generator, Random" />
    <meta name="title" content="MakePW.com - Online Password-Generator" />

    {% endif %}
    <meta name="thumbnail" content="/static/site-icon-med.png" />

    <link rel="image_src" href="/static/site-icon-med.png" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/makepw.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/socialshareprivacy.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/jquery.js"></script>

  </head>

  <body>

    <img src="/static/site-icon-med.png" style="display:none;" title="{{site_name}}">
    <!-- Fixed navbar -->      
    <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" title="{{site_name}} - Online Password-Generator">
            <img src="/static/site-icon.png">
            {{site_name}}
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/{{length}}/" title="16 Chars-PW - MakePW.com - Online Password-Generator">Set PW-length:</a></li>
              <li class="active"><a href="/8/" title="8 Chars-PW - MakePW.com - Online Password-Generator">8</a></li>
              <li class="active"><a href="/12/" title="12 Chars-PW - MakePW.com - Online Password-Generator">12</a></li>
              <li class="active"><a href="/16/" title="16 Chars-PW - MakePW.com - Online Password-Generator">16</a></li>
              <li class="active"><a href="/24/" title="24 Chars-PW - MakePW.com - Online Password-Generator">24</a></li>
              <li class="active"><a href="/32/" title="32 Chars-PW - MakePW.com - Online Password-Generator">32</a></li>
              <li class="active"><a href="/64/" title="64 Chars-PW - MakePW.com - Online Password-Generator">64</a></li>
              <li class="active"><a href="/"> |  </a></li>
              <li class="active"><a href="/plain/{{length}}/" title="PlainText-Output - MakePW.com - Online Password-Generator">ASCII</a></li>
              <li class="active"><a href="/"> |  </a></li>
              <li class="active"><a href="/doc/#api" title="API">API</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/info/"  title="Info - MakePW.com - Online Password-Generator" >{{about_name}}</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

    <div class="container theme-showcase">

    <div class="row">

    <div class="col-sm-9" align="center">
    {% block content %}
    
        
        
    {% endblock %}

    </div>
    
    {% block about %}

    <div class="col-sm-3" align="left">

    {% if privatx %}
    
    <div class="page-header">
        <h4>&nbsp;Docs</h4>
    </div>

    <ul>
    
    
        <li><a href="/info/">About</a></li>
        <li><a href="/doc/#theory">Password-Theory</a></li>
        <li><a href="/info/#privacy">Privacy & TOS</a></li>
        <li><a href="/info/#install">Download & Installation</a></li>
    
    </ul>

    {% else %}
    <div class="page-header">
        <h4>&nbsp;Links</h4>
    </div>
    <ul>
    {% for link in custom_links %}
        <li><a href="{{link[1]}}">{{link[0]}}</a></li>
    
    {% endfor %}
    </ul>
    

    {% endif %}

    </div>
    </div>
    {% endblock %}
    
    

    
    
    <div class="row">
    <div class="col-sm-9">

    <hr>
    <h4><a href="/about/">{{about_name}}</a></h4>

    {{about|safe}}


    <br><br>
    (c) copyright 2012 - 2015 <a href="http://makepw.com/" target="_blank">makepw.com</a>, icons by dryicons, logo by 
    <a href="http://www.iconsdb.com/caribbean-blue-icons/barking-dog-icon.html" target="_blank">icondb.com</a> <br>
    hosting and development sponsored by <a href="http://www.mare-system.de/" target="_blank">MARE system</a>
    <br><br><br><br>
    </div>
    </div><!-- /row -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.socialshareprivacy.js"></script>
    


  </body>
</html>
