{% extends "index.html" %}
{% block content %}


    <div class="page-header">
        <h4>PW-Length: {{length}} &nbsp; &nbsp;  &nbsp; &nbsp;  <a href="/{{length}}/reload/" class="btn btn-info">reload</a></h4>
    </div>

    {% if length > 28 %}
    <pre class="pre3">
    {% else %}
    <pre class="pre2">
    {% endif %}
{% for pw in passwords %}{{pw}}
{% endfor %}
    </pre>

{% endblock %}

